---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="A Simple Calculator"
	description="A simple calculator"
	favicon="/favicon.svg"
>
	<div class="container">
		<div class="theme-container">
			<h1>A Simple Calculator</h1>
			<div class="toggle-container">
				<div class="input-container">
					<input type="checkbox" name="theme1" id="theme1" />
					<label for="theme1">Theme 1</label>
				</div>

				<div class="input-container">
					<input type="checkbox" name="theme2" id="theme2" />
					<label for="theme2">Theme 2</label>
				</div>

				<div class="input-container">
					<input type="checkbox" name="theme3" id="theme3" />
					<label for="theme3">Theme 3</label>
				</div>
			</div>
			<div class="history-container">
				<h2>History</h2>
				<div class="history-content">
					<p>hello</p>
				</div>
			</div>
		</div>
		<div class="calculator">
			<div class="calculator-output">
				<h1>0</h1>
			</div>
			<div class="calculator-buttons-container">
				<div class="scientific-buttons">
					<button type="button" id="sin">sin</button>
					<button type="button" id="cos">cos</button>
					<button type="button" id="tan">tan</button>

					<button type="button" id="inverse-sin">
						<span>sin<sup>-1</sup></span>
					</button>
					<button type="button" id="inverse-cos">
						<span>cos<sup>-1</sup></span>
					</button>
					<button type="button" id="inverse-tan">
						<span>tan<sup>-1</sup></span>
					</button>
					<button type="button" id="pi">π</button>
					<button type="button" id="e">e</button>

					<button type="button" id="exponent">
						<span>x<sup>y</sup></span>
					</button>
					<button type="button" id="exponent-3">
						<span>x<sup>3</sup></span>
					</button>
					<button type="button" id="exponent-2">
						<span>x<sup>2</sup></span>
					</button>

					<button type="button" id="ex">
						<span>e<sup>x</sup></span>
					</button>

					<button type="button" id="power-ten">
						<span>10<sup>x</sup></span>
					</button>
					<button type="button" id="y-sqrt">
						<span><sup>y</sup>√x</span>
					</button>
					<button type="button" id="3-sqrt">
						<span><sup>3</sup>√x</span>
					</button>
					<button type="button" id="sqrt">√x</button>
					<button type="button" id="n-log">ln</button>
					<button type="button" id="log">log</button>
					<button type="button" id="parenthesis-start">(</button>
					<button type="button" id="parenthesis-end">)</button>
					<button type="button" id="fraction">1/x</button>
					<button type="button" id="percent">%</button>
					<button type="button" id="n">n!</button>
				</div>
				<div class="basic-buttons">
					<button type="button" id="seven">7</button>
					<button type="button" id="eight">8</button>
					<button type="button" id="nine">9</button>
					<button type="button" id="backspace" class="orange bold">
						<span class="material-symbols-sharp"> backspace </span>
					</button>

					<button type="button" id="four">4</button>
					<button type="button" id="five">5</button>
					<button type="button" id="six">6</button>
					<button type="button" id="plus">+</button>

					<button type="button" id="one">1</button>
					<button type="button" id="two">2</button>
					<button type="button" id="three">3</button>
					<button type="button" id="minus">-</button>

					<button type="button" id="dot">.</button>
					<button type="button" id="zero">0</button>
					<button type="button" id="divide">/</button>
					<button type="button" id="multiply">x</button>

					<button type="button" id="clear" class="orange bold">C</button>
					<button type="button" id="enter" class="orange bold">enter</button>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	/* =================== constants =================== */

	/* ---------------- button styles ---------------- */
	button {
		background-color: var(--accent-grey);
		border: 1px solid var(--accent-grey);
		border-radius: 5px;

		box-shadow:
			0px 4px 0px var(--accent-grey-shadow),
			0px 0px 0px var(--accent-grey-shadow) inset;

		transition: box-shadow 100ms ease;
	}

	button:active {
		box-shadow:
			0px 0px 0px var(--accent-grey-shadow),
			2px 4px 5px var(--accent-grey-shadow) inset;
	}

	.orange {
		background-color: var(--accent-orange);
		border: 1px solid var(--accent-orange);
		box-shadow:
			0px 4px 0px var(--accent-orange-shadow),
			0px 0px 0px var(--accent-orange-shadow) inset;
	}

	.orange:active {
		box-shadow:
			0px 0px 0px var(--accent-orange-shadow),
			2px 4px 5px var(--accent-orange-shadow) inset;
	}

	/* =================== media queries - MOBILE =================== */
	.container {
		grid-column: span 4;
	}

	.theme-container h1 {
		margin-bottom: 1rem;
		text-align: center;
	}

	.toggle-container,
	.history-container {
		display: none;
	}

	/* ---------------- calculator ---------------- */
	.calculator {
		background-color: var(--calculator-background);
		border: 1px solid var(--font-colour);
		border-radius: 5px;

		--font-colour: rgba(46, 49, 49, 45%);
		box-shadow: 0px 2px 5px var(--font-colour);

		padding: 1rem;
		height: min-content;
	}

	.calculator-output {
		background-color: var(--accent-white);
		border: 1px solid var(--font-colour);
		padding: 0.5rem;
		margin: 0 0 1rem;
		height: 20vh;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.scientific-buttons {
		display: none;
	}

	.basic-buttons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.8rem 5px;
	}

	.basic-buttons button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 3rem;
	}

	#clear,
	#enter {
		grid-column: span 2;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) {
		.container {
			grid-column: 2 / 6;
		}

		.calculator-output {
			height: 15vh;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		.container {
			grid-column: span 12;

			display: grid;
			grid-template-columns: max-content auto;
			gap: 2rem;
		}

		/* ---------------- theme container ---------------- */
		.theme-container {
			display: grid;
			grid-template-rows: min-content 1fr 1fr;
		}

		.theme-container h1 {
			text-align: left;
		}

		.toggle-container,
		.history-container {
			display: block;
		}

		/* ---------------- calculator ---------------- */
		.calculator-buttons-container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2rem;
		}

		.calculator-output {
			height: 30vh;
		}

		.scientific-buttons {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 0.8rem 5px;
			margin-bottom: 0.8rem;
		}

		.scientific-buttons button {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			height: 3rem;
		}
	}
</style>
