---
import Layout from "../layouts/Layout.astro";
---

<Layout
	title="A Simple Calculator"
	description="A simple calculator"
	favicon="/favicon.svg"
>
	<div class="container">
		<div class="theme-container">
			<h1>A Simple Calculator</h1>
			<div class="toggle-container">
				<div class="input-container">
					<input type="checkbox" name="theme1" id="theme1" />
					<label for="theme1">Theme 1</label>
				</div>

				<div class="input-container">
					<input type="checkbox" name="theme2" id="theme2" />
					<label for="theme2">Theme 2</label>
				</div>

				<div class="input-container">
					<input type="checkbox" name="theme3" id="theme3" />
					<label for="theme3">Theme 3</label>
				</div>
			</div>
			<div class="history-container">history</div>
		</div>
		<div class="calculator">
			<div class="calculator-output">
				<h1>0</h1>
			</div>
			<div class="calculator-buttons-container">
				<div class="scientific-buttons">
					<button type="button">sin</button>
					<button type="button">cos</button>
					<button type="button">tan</button>
					<button type="button">sin<sup>-1</sup></button>
					<button type="button">cos<sup>-1</sup></button>
					<button type="button">tan<sup>-1</sup></button>
					<button type="button">π</button>
					<button type="button">e</button>
					<button type="button">x<sup>y</sup></button>
					<button type="button">x<sup>3</sup></button>
					<button type="button">x<sup>2</sup></button>
					<button type="button">e<sup>x</sup></button>
					<button type="button">10<sup>x</sup></button>
					<button type="button"><sup>y</sup>√x</button>
					<button type="button"><sup>3</sup>√x</button>
					<button type="button">√x</button>
					<button type="button">ln</button>
					<button type="button">log</button>
					<button type="button">(</button>
					<button type="button">)</button>
					<button type="button">1/x</button>
					<button type="button">%</button>
					<button type="button">n!</button>
				</div>
				<div class="basic-buttons">
					<button type="button" id="seven">7</button>
					<button type="button" id="eight">8</button>
					<button type="button" id="nine">9</button>
					<button type="button" id="backspace" class="orange">
						<span class="material-symbols-sharp"> backspace </span>
					</button>

					<button type="button" id="four">4</button>
					<button type="button" id="five">5</button>
					<button type="button" id="six">6</button>
					<button type="button" id="plus">+</button>

					<button type="button" id="one">1</button>
					<button type="button" id="two">2</button>
					<button type="button" id="three">3</button>
					<button type="button" id="minus">-</button>

					<button type="button" id="dot">.</button>
					<button type="button" id="zero">0</button>
					<button type="button" id="divide">/</button>
					<button type="button" id="multiply">x</button>

					<button type="button" id="clear" class="orange">C</button>
					<button type="button" id="enter" class="orange">enter</button>
				</div>
			</div>
		</div>
	</div>
</Layout>

<style>
	/* =================== constants =================== */

	/* ---------------- button styles ---------------- */
	button {
		background-color: var(--accent-grey);
		border: 1px solid var(--accent-grey);
		border-radius: 5px;

		box-shadow:
			0px 4px 0px var(--accent-grey-shadow),
			0px 0px 0px var(--accent-grey-shadow) inset;

		transition: box-shadow 100ms ease;
	}

	button:active {
		box-shadow:
			0px 0px 0px var(--accent-grey-shadow),
			2px 4px 5px var(--accent-grey-shadow) inset;
	}

	.orange {
		background-color: var(--accent-orange);
		border: 1px solid var(--accent-orange);
		box-shadow:
			0px 4px 0px var(--accent-orange-shadow),
			0px 0px 0px var(--accent-orange-shadow) inset;
	}

	.orange:active {
		box-shadow:
			0px 0px 0px var(--accent-orange-shadow),
			2px 4px 5px var(--accent-orange-shadow) inset;
	}

	/* =================== media queries - MOBILE =================== */
	.container {
		grid-column: span 4;
	}

	.theme-container h1 {
		margin-bottom: 1rem;
		text-align: center;
	}

	.toggle-container,
	.history-container {
		display: none;
	}

	/* ---------------- calculator ---------------- */
	.calculator {
		background-color: var(--calculator-background);
		border: 1px solid var(--font-colour);
		border-radius: 5px;

		--font-colour: rgba(46, 49, 49, 45%);
		box-shadow: 0px 2px 5px var(--font-colour);

		padding: 1rem;
	}

	.calculator-output {
		background-color: var(--accent-white);
		border: 1px solid var(--font-colour);
		padding: 0.5rem;
		margin: 0 0 1rem;
		height: 20vh;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
	}

	.scientific-buttons {
		display: none;
	}

	.basic-buttons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0.8rem 5px;
	}

	.basic-buttons button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 3rem;
	}

	#clear,
	#enter {
		grid-column: span 2;
		font-weight: 600;
	}

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) {
		.container {
			grid-column: span 6;
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		.container {
			grid-column: span 12;
		}
	}
</style>
