---
interface Props {
	title: string;
	description: string;
	favicon: string;
}

// default content
const {
	title = "Simple Calculator",
	description = "A simple calculator",
	favicon = "/favicon.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
		/>
		<meta name="generator" content={Astro.generator} />
		<meta name="author" content="Amya Moore" />
		<title>{title}</title>
	</head>
	<body>
		<div id="main-grid">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	/* =================== imported fonts =================== */
	@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

	/* =================== global variables =================== */

	:root {
		--font-colour: #2e3131;
		--background: #dde4ea;
		--calculator-background: #f6f6f6;
		--accent-white: #ffffff;
		--accent-grey: #d9d9d9;
		--accent-grey-shadow: #8d8d8d;
		--accent-orange: #eb632a;
		--accent-orange-shadow: #a24923;
	}

	/* =================== reset default styles =================== */
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	/* =================== base page styles =================== */
	body {
		font-family: "Montserrat", sans-serif;
		font-weight: 400;
		font-size: 1em;
		background-color: var(--background);
		color: var(--font-colour);
	}

	/* =================== font styles =================== */
	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 1.5em;
		font-weight: 600;
	}

	h2 {
		font-family: "Montserrat", sans-serif;
		font-size: 1em;
		font-weight: 500;
	}

	p,
	label,
	input,
	button {
		font-family: "Montserrat", sans-serif;
		font-size: 0.9em;
		font-weight: 400;
	}

	.bold {
		font-weight: 600;
	}

	/* =================== constants =================== */
	#main-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 10px;
		padding: 2rem;
	}

	/* =================== media queries =================== */

	/* =================== TABLET =================== */
	@media only screen and (min-width: 40.063em) {
		#main-grid {
			grid-template-columns: repeat(6, 1fr);
		}
	}

	/* =================== DESKTOP =================== */
	@media only screen and (min-width: 64.063em) {
		#main-grid {
			grid-template-columns: repeat(12, 1fr);
			height: 100vh;
		}
	}
</style>
